<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="recipes" href="/tabs/recipes">
      <ion-icon aria-hidden="true" name="fast-food-outline"></ion-icon>
      <ion-label>Ideas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planner" href="/tabs/planner">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Meal planner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping-list" href="/tabs/shopping-list">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Grocery list</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
